.imglogo {
    overflow: hidden;
    transition-duration: 0.5s;
    transition-property: transform;
}

.imglogo:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.container {
    align-items: center;
    justify-content: center;
}

.account {
    color: black;
}

.account:link {
    color: black;
}

.account:visited {
    color: black;
}

.account:hover {
    color: #8bc052;
}

.btn1 {
    background-color: #9ed368;
    border-radius: 30px;
    border: 2px solid #9ed368;
    margin-left: 10px;
    width: 90px;
    height: 40px;
}

.btn1:hover {
    background-color: #8bc052;
    color: black;
    border: 2px solid #8bc052;
}

.btn2 {
    width: 70px;
    height: 40px;
    border: 2px solid;
    border-color: #8bc052;
    border-radius: 30px;
    margin-left: 10px;
}

.btn2:hover {
    background-color: #8bc052;
}

main {
    margin-top: 85px;
    width: 100vw;
    height: 120vh;
}

.banner {
    height: 40vh;
    width: 100%;
    background-color: #8bc052;
    display: flex;
    align-items: center;
    background-image: url(images/faq-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner h1 {
    color: white;
    padding-left: 10vw;
}

.listX {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
    width: 100%;
    flex-wrap: wrap;
}

#tblrone {
    font-family: Arial, Helvetica, sans-serif;
    width: 35%;
    height: 70%;
}

#tblrone td,
#tblrone th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#tblrone tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tblrone th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: head;
    background-color: #8bc052;
    color: white;
    font-size: 1.5rem;
}

.listitem {
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
}

.listitem:visited {
    color: black;
    text-decoration: none;
}

.listitem:hover {
    color: #6fb226;
    text-decoration: none;
}

.links {
    color: white;
    text-decoration: none;
}

.links:visited {
    color: white;
    text-decoration: none;
}

.links:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    main {
        height: 160vh;
    }
    .listX {
        height: 60vh;
    }
}

@media screen and (max-width: 800px) {
    main {
        height: 240vh;
    }
    .listX {
        height: 100vh;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    #tblrone {
        height: 40vh;
        width: 80vw;
    }
}

@media screen and (max-width: 450px) {
    main {
        height: 270vh;
    }
    .listX {
        height: 110vh;
    }
    #tblrone {
        height: 50vh;
    }
}
